<!DOCTYPE html>
<html lang="{{ site.lang }}" x-data="{ darkMode: false }" :class="{ 'dark': darkMode }">
  {% include "../partials/head.html" %}

  <body class="flex flex-col max-w-screen-md min-h-screen px-4 mx-auto bg-yellow-50 dark:bg-gray-900">
    {% include "../partials/header.html" %}

    <div id="main-content" class="prose prose-lg xl:prose-xl dark:prose-light">
      <h1 id="site-title" class="pl-4 border-l-8 border-pink-600">{{ title }}</h1>
      {{ content | safe }}
    </div>

    {% include "../partials/footer.html" %} {% include "../partials/scripts.html" %}
  </body>
</html>
