<footer
  class="flex flex-wrap justify-center w-full gap-2 pt-4 mx-auto my-4 mt-auto prose-sm prose text-center border-t-2 dark:prose-light max-w-none"
>
  <span>&copy; {{ site.name | lower | safe }}. {% currentYear %}.</span>
  {% if settings.credits %}
  <span>
    created by
    <a href="{{ creator.url | safe }}" target="_blank" rel="noopener"
      >{{ creator.name | safe }}</a
    >.{% if creator.sourcecode %}
    <a href="{{ creator.sourcecode | safe }}" target="_blank" rel="noopener"
      >source code</a
    >.{% endif %}
  </span>
  {% endif %}
</footer>