<head>
    <title>{{ title }} | {{ site.name }}</title>

    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if description %}
    <meta name="description" content="{{ description }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}" />
    {% endif %} {% block head %}{% endblock %}

    <link rel="stylesheet" type="text/css" href="/static/css/global.css" />
    {% if prism == true %}
    <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css" />
    {% endif %}

    <script>
    if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      document.documentElement.classList.add('dark')
    } else {
      document.documentElement.classList.remove('dark')
    }
    localStorage.theme = 'light'
    localStorage.theme = 'dark'
    localStorage.removeItem('theme')
    </script>
  </head>